.footer {
    padding: 60px 0 40px 0;
    background-color: #1f1f1f; 
    display: flex;
  }
  .logo_place_footer {
    width: 228px;
  }
  .footer__social-icon {
    width: 16px;
    height: 16px;
    transform: translateY(3px);
  }